body {
      SCROLLBAR-FACE-COLOR: #EFEFF3; SCROLLBAR-HIGHLIGHT-COLOR: #FCFCF9; SCROLLBAR-SHADOW-COLOR: #FCFCF9;
	SCROLLBAR-3DLIGHT-COLOR: #AEB2B2; SCROLLBAR-ARROW-COLOR: #71718E; SCROLLBAR-TRACK-COLOR: #EFEFF3;
	SCROLLBAR-DARKSHADOW-COLOR: #AEB2B2;
}
