P {
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Comic Sans MS
}
BODY {
	SCROLLBAR-FACE-COLOR: #FFFFFF; SCROLLBAR-HIGHLIGHT-COLOR: #FCFCF9; SCROLLBAR-SHADOW-COLOR: #FCFCF9;
	SCROLLBAR-3DLIGHT-COLOR: #EDEAD9; SCROLLBAR-ARROW-COLOR: #D8D4B1; SCROLLBAR-TRACK-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #EDEAD9;
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Comic Sans MS;
	link: #808080;
	vlink: #808080;
	alink: #B1E11C;
}
TD {
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Comic Sans MS
}
A {
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Comic Sans MS; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline;
	font-family: Comic Sans MS;
	COLOR: #808080;
	font-size: 10px
}
.content {
	FONT-SIZE: 10px; FONT-FAMILY: Comic Sans MS; COLOR: #808080;
}